
body, html {
	margin:0px;
	padding:0px;
	background-color:#F4EAE1;
}


#container  {
	
	position:absolute;
	left:50%;
	margin-left:-535px;
	width:1070px;
	padding-bottom:80px;
} 

p {
	font-size:13px;
	font-family:arial;
	line-height:20px;
}



#title {
	position:relative;
	margin:0px auto;
	width:660px;
	text-align:center;
	text-shadow: 2px 2px 0px #c9b7a6;
	margin-top:16px;
	font-size:40px;
}

#quote { 
	margin-left:10px;	
	text-align:center;
	font-size: 17px;
	position:relative;
	margin:0px auto;
	width:600px;	
	margin-top:25px;
	border-top: 1px solid #cac3bd;
	border-bottom: 1px solid #cac3bd;
	padding-top:8px;
	padding-bottom:5px;
	margin-bottom:20px;
}

#left_arrow {
    position: absolute;
    left: 0;
    top: 150px;
	text-align:left;
}

#left_arrow  p{
	margin-top:-6px;
	font-size:10px;
	color:black;
}

#right_arrow {
    position: absolute;
    right: 0;
    top: 150px;
	text-align:right;
}

#right_arrow  p{
	margin-top:-6px;
	font-size:10px;
	color:black;
}

#dynamic_explainer {
	border:1px dashed black;
	width: 580px;
	height:200px;

	margin:auto;
	padding:10px;
	padding:0px 5px;
}

#dynamic_explainer h2{
	margin-top:0px;
}

#attrib { 
	text-align:center;
	font-size:13px;
	margin-top:10px;
}


#left{ 

	float:left;
	width:300px;
	text-align:justify;
}

#intro { 
	float:left;
	margin-left:27px;
	width:420px;
	text-align:justify;
}

#right{ 
	float:right;
	width:300px;
	text-align:justify;
}

#left h2, #right h2, #intro h2 {
	text-align:center;
	font-size:19px!important;
}
	
#article { 
	border-top: 4px solid #8a7e73;
	position:relative;
	width: 1074px;
	margin: 10px auto;
	padding:10px;
}

#spectrum_image {
	cursor:pointer;
	margin: 10px 0px 20px 0px;
}   

#selector { 
   left: 538px;
    position: absolute;
    top: 279px;
}

#spectrum_labels {
	margin-bottom:30px;
}

#spectrum_labels h2 {
	text-align:center;
	font-size:14px;
}

#top_right_arrow { 
	margin-left:140px;
}

#top_left_arrow { 
	margin-left:70px;
}


.spectral_line {
	width:200px;
	float:left;
	margin-left:22px;
	display:none;
}

.spectral_line ul{
	padding-left:5px; 
	margin-left:0px;
}	

.spectral_line:first-child {
	margin-left:0px;
}


.spacer {
	clear:both;
}

#zoom_in {
	border:1px solid black;
}	
}